{% extends "base.html" %}
{% load static %}
{% static "landing-page.css" %}
{% block content %}
    <!-- Header -->
    <header class="intro-header">
        <div class="container">
            <div class="intro-message">
                <h1>BUILD YOUR COMMUNITY</h1>
				<p>Communify gives you the power to decide what local businesses would be valuable to your neighborhood.  Support small business owners, ensure success and improve the lifestyle of your community with a single click. </p>
                <h3>Communify</h3>
                 
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                    <li class="list-inline-item">
                        <a href="/signup" class="btn btn-secondary btn-lg"> <span class="network-name">Sign Up</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/login" class="btn btn-secondary btn-lg"></i> <span class="network-name">Login</span></a>
                    </li>
					<li class="list-inline-item">
                        <a href="/dataentry" class="btn btn-secondary btn-lg"></i> <span class="network-name">Get Started</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
{% endblock %}
   